body {
    padding: 0;
    margin: 0;
}

.truckItem, .jobItem {
    margin: 2 px;
    background - color: #D7E5E9;
    padding: 3 px 4 px 2 px;
    list - style - type: none;
}

.truckItem: nth - child(odd), .jobItem: nth - child(odd) {
    background - color: #c1cfd3;
}

.truckItem > h3, .jobItem > h3 {
    font - size: 1.2e m;
    text - align: center;
    margin: 4 px 0;
}

.truckItem > span, .jobItem > span {
    width: 100 % ;
    display: inline - block;
    margin - left: 10 px; - webkit - user - select: none;
}

#
left, #right {
    width: 20 % ;
}

#
center {
    width: 60 % ;
}

#
left, #center, #right {
    max - height: 89 vh;
    float: left;
}

#
left, #jobList {
    overflow - y: scroll;
    overflow - x: hidden;
}

#
jobList {
    max - height: 76 vh;
}

#
left > ul, #right > ul {
    padding: 0;
    margin: 0;
}

header > img {
    margin - left: 10 px;
    height: 11 vh;
}

header {
    background - color: #09347a;
	height: 11vh;
}

# map - canvas {
        height: 89 vh;
    }

    #
    selectedTruck {
        height: 13 vh;
    }

    #
    selectedTruck > span {
        width: 100 % ;
        display: inline - block;
    }#
    selectedTruck > h3 {
        text - align: center;
    }

    #
    selectedTruck h3 {
        margin: 0 px;
    }